include ../icon/icon

mixin logo(data)
	a(href="index.html").logo&attributes(attributes)
		<svg xmlns="http://www.w3.org/2000/svg" width="61" height="59"><path fill="#3392c9" d="M35.145 2H17.13C14.743 2 2 14.023 2 16.411v18.013a4.323 4.323 0 0 0 4.322 4.323h28.822a4.324 4.324 0 0 0 4.323-4.323v-28.1A4.323 4.323 0 0 0 35.145 2z"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="4" d="M35.145 2H17.13C14.743 2 2 14.023 2 16.411v18.013a4.323 4.323 0 0 0 4.322 4.323h28.822a4.324 4.324 0 0 0 4.323-4.323v-28.1A4.323 4.323 0 0 0 35.145 2z"/><g><path fill="#4cbf92" d="M25.057 20.013H43.07c2.388 0 15.132 12.024 15.132 14.411v18.014a4.323 4.323 0 0 1-4.324 4.322h-28.82a4.323 4.323 0 0 1-4.324-4.322V24.336a4.323 4.323 0 0 1 4.323-4.323z"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="4" d="M25.057 20.013H43.07c2.388 0 15.132 12.024 15.132 14.411v18.014a4.323 4.323 0 0 1-4.324 4.322h-28.82a4.323 4.323 0 0 1-4.324-4.322V24.336a4.323 4.323 0 0 1 4.323-4.323z"/></g></svg>
		span.logo__name uppsägning
